absl-py==2.1.0
adjustText==1.2.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.5.0
anndata==0.10.8
annoy==1.17.3
arboreto==0.1.6
array_api_compat==1.7.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
autograd==1.8.0
autograd-gamma==0.5.0
bbknn==1.6.0
biopython==1.84
blinker==1.9.0
bokeh==3.4.2
boltons==24.0.0
cachetools==6.2.6
cellphonedb==5.0.1
certifi==2024.7.4
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.1
ctxcore==0.2.0
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
dask==2024.7.0
dask-expr==1.1.7
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distributed==2024.7.0
docrep==0.3.2
ecos==2.0.14
et_xmlfile==2.0.0
etils==1.5.2
exceptiongroup==1.2.1
executing==2.0.1
fbpca==1.0
fcsparser==0.2.8
filelock==3.15.4
flatbuffers==25.2.10
flax==0.8.5
fonttools==4.53.1
formulaic==1.2.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
geosketch==1.2
get-annotations==0.1.2
gitdb==4.0.12
GitPython==3.1.47
google-pasta==0.2.0
grpcio==1.73.1
gseapy==1.1.3
gtfparse==2.5.0
h5py==3.11.0
idna==3.7
igraph==0.11.5
imbalanced-learn==0.12.4
importlib_metadata==8.0.0
importlib_resources==6.4.0
infercnvpy==0.4.5
iniconfig==2.0.0
intel-openmp==2021.4.0
interface-meta==1.3.0
interlap==0.2.7
ipython==8.18.1
jax==0.4.30
jaxlib==0.4.30
jaxopt==0.8.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.10.0
kiwisolver==1.4.5
ktplotspy==0.2.4
legacy-api-wrap==1.4
leidenalg==0.10.2
libclang==18.1.1
lifelines==0.30.0
lightgbm==4.6.0
lightning==2.1.4
lightning-utilities==0.11.3.post0
llvmlite==0.43.0
locket==1.0.0
loompy==3.0.7
lz4==4.3.3
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdurl==0.1.2
mellon==1.4.3
mizani==0.9.3
mkl==2021.4.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml_collections==0.1.1
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.0.8
mudata==0.2.4
multidict==6.0.5
multipledispatch==1.0.0
multiprocessing_on_dill==3.5.0a4
namex==0.1.0
narwhals==2.15.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numexpr==2.10.1
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=f284633067fde4bb078a09085a1c9e99a3218c129f5312b7b3d76c9340442a25
numpy-groupies==0.11.1
numpyro==0.15.0
openpyxl==3.1.5
opt-einsum==3.3.0
optax==0.2.2
optree==0.16.0
orbax-checkpoint==0.5.20
osqp==1.1.1
packaging==24.1
palantir==1.3.3
pandas==2.2.2
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pillow==10.4.0
plotly==6.5.1
plotnine==0.12.4
plottable==0.1.5
pluggy==1.5.0
polars==0.20.31
progressbar2==4.4.2
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
pure-eval==0.2.2
pyarrow==14.0.2
pyarrow-hotfix==0.6
pycairo==1.26.1
pydeck==0.9.2
pydot==2.0.0
pygam==0.9.1
Pygments==2.18.0
pymde==0.1.18
pynndescent==0.5.13
pyparsing==3.1.2
pyreadr==0.5.0
pyro-api==0.1.2
pyro-ppl==1.9.1
pyscenic==0.12.1
pytest==8.2.2
python-circos==0.3.0
python-dateutil==2.9.0.post0
python-utils==3.8.2
pytoml==0.1.21
pytorch-lightning==2.3.2
pytz==2024.1
PyYAML==6.0.1
referencing==0.36.2
requests==2.32.3
rich==13.7.1
rpds-py==0.27.1
scanpy==1.10.2
scib==1.1.5
scib-metrics==0.5.1
scikit-learn==1.5.1
scikit-misc==0.3.1
scikit-survival==0.23.1
scipy==1.11.4
scvi-colab==0.12.0
scvi-tools==1.1.5
seaborn==0.13.2
session_info==1.0.0
shap==0.49.1
six==1.16.0
slicer==0.0.8
smmap==5.0.3
sortedcontainers==2.4.0
stack-data==0.6.3
statsmodels==0.14.2
stdlib-list==0.10.0
streamlit==1.50.0
sympy==1.12.1
tableone==0.9.6
tabulate==0.9.0
tbb==2021.13.0
tblib==3.0.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
tensorstore==0.1.63
termcolor==3.1.0
texttable==1.7.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torch_geometric==2.5.3
torchmetrics==1.4.0.post0
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.6
urllib3==2.2.2
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.16.0
xgboost==2.1.4
xyzservices==2024.6.0
yarl==1.9.4
zict==3.0.0
zipp==3.19.2
